<h2>Вход</h2>
{{#if error}}
<div class="alert alert-danger">{{error}}</div>
{{/if}}
<form action="/login" method="POST" class="col-md-6">
    <div class="mb-3">
        <label for="emailOrUsername" class="form-label">Логин или Email</label>
        <input type="text" class="form-control" id="emailOrUsername" name="emailOrUsername" required>
        <small class="form-text text-muted">Введите ваш логин или email</small>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
</form>
<p>Нет аккаунта? <a href="/register">Зарегистрироваться</a></p>